@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans-Regular.ttf") format: truetype;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans-Bold.ttf") format: truetype;
  font-weight: 700;
  font-style: normal;
}

body{
  display: flex;
  justify-content: center;
  margin: 0;

  font-family: "DMSans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  background: #f9ede3;
}

main{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;

  padding: 1em;
  min-width: 18em;
  min-height: 100vh;
}

content{
  min-width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1em;

  background: hsl(10, 79%, 65%);
  border-radius: 12px;
}

header h1, header p{
  margin: 0;
}

header h1{
  margin-top: .5em;

  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
}

header div p{
  color: #fffcf8;
}

section.chart{
  padding: 1em;
  margin: 1em 0 0 0;

  background: #fffcf8;
  border-radius: 12px;
}

section.chart h2{
  font-size: 1.4rem;
}

section.chart h2,
section.chart h3,
section.chart h4{
  color: hsl(25, 47%, 15%);
}

section.chart div#chartContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.col{
  min-width: 11.5%;
  text-align: center;
}

.col p{
  margin-top: 0.75em;
  font-size: 0.85rem;
}

.bar-container{
  min-height: 10em;
}

.bar{
  background-color: hsl(10, 79%, 65%);
  border-radius: 4px;
}

.today{
  background: hsl(186, 34%, 60%);
}

.bar-container{
  height: 10em;
  display: flex;
  flex-flow: column-reverse;
}

/*
 * Tooltip Start
 */
.tooltip {
  display: inline-block;
  position: relative;
  cursor:  pointer;
}

.tooltip .tooltiptext {
  border-radius: 0.375em;
  text-align: center;
  font-size: 1rem;
  color: #fff;

  position: absolute;
  margin-left: -1.875em;
  padding: 0.3125em 0;
  width: 3.75em;
  z-index: 1;
  bottom: 110%;
  left: 50%;

  background-color: #555;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover{
  background: #ff9b87;
}

.tooltip:hover.today{
  background: #b4dfe5;
}
/*
 * Tooltip End
 */

.summary{
  display: flex;
  justify-content: space-between;

  margin-top: 1em;
  padding-top: 1em;

  border-top: 2px solid #f9ede3
}

.total p{
  font-size: 0.95rem;
  color: hsl(28, 10%, 53%);
}

.total h3{
  margin: 0.5rem 0 0 0;
  font-size: 1.95rem;
}

.lastmonth{
  display: flex;
  align-items: flex-end;
  text-align: right;
}

.lastmonth p{
  margin: 0;
  color: hsl(25, 47%, 15%);
}

.lastmonth p strong{
  color: hsl(25, 47%, 15%);
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media screen AND (min-width: 1440px){
  main{
      min-width: 30%;
  }
}
